/*Smooth scrolling effect*/
html{
    scroll-behavior: smooth;
}
img#ryan{
    width: 100%;
    height:auto;
    filter: grayscale(50%)
}
body{
    background: #1f2235;
    font-family: "Baloo Tamma 2", cursive;
}

/*Font for main heading*/
.m-heading{
    font-family: "Roboto Slab", serif; 
}
#mainNavbar .navbar-brand{
    color: #f5ba09;
    font-size:2rem;
    font-weight: 400; 
}
.nav-link{
    border: 2px solid transparent;
}

.nav-link:hover{
    text-decoration: none;
    border-bottom: 2px solid #f5ba09;
    transition: 0.15s ease;
}


.navbar.scrolled{
    background: #003049;
    transition: background 400ms;
    opacity:90%;
}

.main-container{
    min-height: 80vh;
}


.main-row h1{
    font-size: 5rem;
}
.main-row{
    display:flex;
    justify-content: center;
    align-items:center;
}

#about{
    background: #313552;
    border-radius: 0.5rem;
}

#contact{
    background: #313552;
}

.media_link{
    padding: 1rem;
    max-width: 15rem;
    margin-left: 1rem;
    border: 2px solid #f5ba09;
    border-radius: 0.5rem;
}

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        border-bottom: 8px solid orange;
}

.card-img-top{
    height: 10vw;
}

.about_photo{
    border:6px solid #f2cc8f;
    border-radius: 0.5rem;
    width:85%;
    height:auto;
}

.progress-bar{
    background-color:#fca311;
}

.progress-bar:hover{
    background-color: #e07a5f;
    transition: 50ms;
font-weight: 500;
    font-size: 1rem;
}

.about2{
    margin-bottom: 100px;
}

#contact a:hover, div#emailBtn:hover{
    background-color:#e07a5f;
}

#skills{
    background-color: #313552;
    border-radius: 0.5rem;
  
}